html body {
  height: 100%; /* HTML und Body auf volle Höhe setzen */
  margin: 0; /* Entfernt den Standardabstand */
  display: flex;
  flex-direction: column;
}

header {
  background-color: rgb(56, 56, 56);
  padding: 20px;
  text-align: center;
}

.navheader {
  color: yellow;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  display: block;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
}

.withstyle {
  list-style-type: disc;
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.navbar-nav li {
  margin: 0 15px;
}

.navbar-nav a {
  color: yellow;
  text-decoration: none;
  font-size: 18px;
}

.navbar-nav a:hover {
  text-decoration: underline;
}

.welcome {
  text-align: center;
  padding: 0em 32%;
  flex: 1;
}

footer {
  background-color: rgb(56, 56, 56);
  padding: 20px;
  text-align: center;
}

.footerhead {
  color: yellow;
  font-size: 14px;
  margin-bottom: 10px;
}

.foot-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot-nav li {
  margin: 0 5px;
  color: yellow;
}

.foot-nav a {
  color: yellow;
  text-decoration: none;
  font-size: 16px;
}

.foot-nav a:hover {
  text-decoration: underline;
}

/* Kontaktformular */

.contact-form {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 80%;
  margin: 0 10%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  box-sizing: border-box;
}

.form-group textarea {
  resize: vertical;
  height: 150px;
}

.submit-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 20%;
  font-size: 16px;
}

.submit-btn:hover {
  background-color: #0056b3;
}
